:host {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: var(--bg);
  color: var(--text);
}

table {
  border-collapse: collapse;
}

input:focus,
select:focus {
  outline: none;
}

button {
  user-select: none;
}

th,
td {
  word-break: break-word;
  overflow-wrap: anywhere;
}
