:host {
  display: inline-block;
}

[data-testid='user-menu-preferences']:hover,
[data-testid='user-menu-preferences']:focus-visible,
[data-testid='user-menu-logout']:hover,
[data-testid='user-menu-logout']:focus-visible {
  background-color: var(--accent);
  color: var(--bg);
  outline: none;
}
